$navy: #34495e;
$green: #2ecc71;
$blue: #3498db;
$yellow: #f1c40f;
$red: #e74c3c;
$white: #ffffff;
$black: #000000;
$blue-green: #1abc9c;
$purple: #9b59b6;
$orange: #f39c12;
$brown: #ae956d;

$twitter: #4099ff;
$facebook: #3b5998;

$headerHeight: 65px;
